In [2]:
import os, sys
currentdir = os.path.dirname(os.path.realpath(os.path.abspath("")))
scriptsdir = os.path.dirname(currentdir)
if scriptsdir not in sys.path:
    sys.path.append(scriptsdir)

from customscripts import configuration
from customscripts import utils

# Common imports

import numpy as np
import scipy as sp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# get_dataset_df(weekNumber, datasetFileName)
data = utils.get_dataset_df(4, "nutrition_unicef_cleaned")
data

,Unnamed: 0,Country,Indicator,Sex,Current age,Residence,Unit of measure,TIME_PERIOD,OBS_VALUE,Observation Status
0,1741,Dominican Republic,Predominantly breastfeeding (children aged 0 t...,Total,0 to 5 months old,Total,%,1986,34.300000,External Reanalysis
1,1742,Dominican Republic,Predominantly breastfeeding (children aged 0 t...,Total,0 to 5 months old,Total,%,1996,32.300000,External Reanalysis
2,1743,Dominican Republic,Predominantly breastfeeding (children aged 0 t...,Total,0 to 5 months old,Total,%,1999,30.600000,External Reanalysis
3,1744,Dominican Republic,Predominantly breastfeeding (children aged 0 t...,Total,0 to 5 months old,Total,%,2000,27.519926,Reanalysed
4,1745,Dominican Republic,Predominantly breastfeeding (children aged 0 t...,Total,0 to 5 months old,Total,%,2002,22.287588,Reanalysed
...,...,...,...,...,...,...,...,...,...,...
492790,1613411,Iran (Islamic Republic of),Continued breastfeeding (20-23 months),Total,20 to 23 months old,Urban,%,2010,50.500000,Reported
492791,1613412,Mexico,Minimum diet diversity (children aged 6 to 23 ...,Total,6 to 23 months old,Urban,%,2015,60.000000,Reanalysed
492792,1613413,Uzbekistan,Minimum acceptable diet (children aged 6-23 mo...,Total,6 to 23 months old,Urban,%,2017,6.400000,Reanalysed
492793,1613414,Algeria,Minimum meal frequency (children aged 6 to 23 ...,Total,6 to 23 months old,Urban,%,2012,54.100000,Reanalysed
492794,1613415,Vanuatu,Continued breastfeeding (12-15 months),Total,12 to 15 months old,Urban,%,2007,67.600000,Low reliability